/* font family */
$roboto: 'Roboto', san-serif;

/* color */
$white   : #FFF;
$platinum: #E8EBE4;
$gray    : #BEC1BB;   

/* fon weight */
$regular: 400;
$bold   : 700;

/* fon-sizes*/
$x-large : 45px;
$large   : 28px;
$medium  : 16px;
$small   : 14px;
$x-small : 10px; 